.addthis.b-tw_fb{"addthis:title" => current_article.title, "addthis:url" => root_url << current_article.url}
  .l-tw
    %a.addthis_button_tweet{rel: "nofollow", "tw:text" => current_article.title, "tw:via" => twitter}
  .l-fb
    %a.addthis_button_facebook_like{"fb:like:layout" => "button_count", "fb:like:locale" => "en_EN", "fb:like:send" => "false", "fb:like:show_faces" => "false", rel: "nofollow"}
  .l-gplus
    %a.addthis_button_google_plusone{"g:plusone:size" => "medium", rel: "nofollow"}
