%article.articles-list
  - articles.each_with_index do |article, i|
    .entry
      .info
        %h4= link_to article.title, article

        .announce= article.metadata[:page]['announce']

        %span.comments
          =link_to  "Нет комментариев", "#{disqus_url(article)}#disqus_thread", class: old_article?(article) && "old"
      .date
        = Russian::strftime(article.date, '%d %b %Y')

