%header
  %section
    %h1#page_heading
      %a{href: "/"} Блог Артура Сабирова
    %nav
      = link_to "Разработка", "/dev"
      = link_to "Проекты", "/projects.html"
      = link_to "Обзор книг", "/books"
      = link_to "О себе", "/about.html"
