%head
  %meta{charset: "utf-8"}/

  %title Artur Sabirov

  %link{href: 'http://fonts.googleapis.com/css?family=Arimo', rel: 'stylesheet', type: 'text/css'}/

  = stylesheet_link_tag 'app'

  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
