%header
  %section
    %h1#page_heading
      %a{href: "/"} Блог Артура Сабирова
    %nav
      = link_to "Разработка", "/dev"
      //= link_to "Проекты", "/projects"
      = link_to "Книги", "/books"
      = link_to "Разное", "/life"
      = link_to "Об авторе", "/about"
