:javascript
  var disqus_shortname = 'artursabirovru';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());


  var addthis_config = {
      pubid: "ra-4e4f7ce25d6f5675",
      data_track_clickback: true,
      ui_language: "ru",
      templates: {twitter: '{{text}} {{lurl}}'},
      data_ga_tracker: "UA-24946626-1"
  };


<script defer="defer" type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e4f7ce25d6f5675&domready=1"></script>

= javascript_include_tag :application
