---
pageable: true
per_page: 50
---

%h3 Разработка
= partial "shared/articles_list", locals: {articles: articles_for(:dev), show_comments: true}

%h3 Книги
= partial "shared/articles_list", locals: {articles: articles_for(:books), show_comments: true}

%h3 Разное
= partial "shared/articles_list", locals: {articles: articles_for(:life), show_comments: true}

