!!!
%html
  = partial "shared/head"
  %body
    %article
      %section.hello
        Hi!
      %section.about
        My name is Artur Sabirov. I'm a developer and the founder of <br />
        <a href="https://keitarotds.ru">Keitaro</a> and <a href="http://squarefaction.ru">Square Faction</a>.


      %section.social
        You'll find me on
        <a href="https://ru.linkedin.com/in/asabirov">Linkedin</a>,
        <a href="https://github.com/asabirov">Github</a>,
        <a href="https://twitter.com/artsabirov">Twitter</a> and
        <a href="https://instagram.com/artsabirov">Instagram</a>.

      %section.contacts
        Email me at <a href="mailto:mail@artursabirov.ru">mail@artursabirov.ru</a>.
